@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    /* max-height: max-content; */
    height: 100vh;
}
body{
    height: 100%;
    font-family: 'Outfit',sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}
.card{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    width: 170px;
    box-shadow: 0px 15px 15px 5px hsl(215, 55%, 6%);
}
.card-img{
    background-image: url("../images/image-equilibrium.jpg");
    height: 140px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    /* margin-bottom: 7px; */
}
.overlay{
    background-image: url("../images/icon-view.svg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 20%;
    background-repeat: no-repeat;
    background-color:  hsla(178, 100%, 50%, 0.4);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s ease-in;
}
.card-img:hover .overlay{
    opacity: 1;
}
.heading{
    font-size: .75em;
    font-weight: 600;
    transition: all 0.4s ease-in;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    padding: 10px 0;
}
.heading:hover{
    color: hsl(178, 100%, 50%);
}
.sub-heading{
    font-size: .50em;
    font-weight: 300;
}
.data-item{
    display: flex;
    font-size: .45em;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.data-item div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 8px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: initial;
}
#item-1>.icon{
    background-image: url("../images/icon-ethereum.svg");
}
#item-1>.detail{
    color: hsl(178, 100%, 50%);
    font-weight: bolder;
}
#item-2>.icon{
    background-image: url("../images/icon-clock.svg");
    margin-right: 2px;
}
.creator-info{
    border-top: solid 1px hsl(215, 32%, 27%);
    font-weight: 300;
    font-size: .45em;
    display: flex;
    justify-content: initial;
    align-items: center;
    padding: 10px 0;
}
.profile-img{
    height: 15px;
    width: 15px;
    border: 0.5px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    background-image: url("../images/image-avatar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 7px;
}
#creator-name{
    font-weight: 600;
    transition: all 0.4s ease-in;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
}
#creator-name:hover{
    color: hsl(178, 100%, 50%);
}
.attribution { 
    position: absolute;
    font-size: 11px; 
    text-align: center; 
    bottom: 5px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width: 375px) {
    body{
        font-size: 30px;
    }
    .card{
        width: 80%;
    }
    .card-img{
        height: 190px;
    }
    .profile-img{
        height: 1.5rem;
        width: 1.5rem;
    }
}